<div class="addnew">
  <button data-ng-click="isFormOpen = !isFormOpen">
  Add meditation
  </button>
  <div data-ng-show="isFormOpen">
  <input type="text" placeholder="Date" data-ng-model="IndexVm.newMeditation.date" />
  <input type="number" placeholder="Time in minutes" min="0" data-ng-model="IndexVm.newMeditation.minutes" />
  <button data-ng-click="IndexVm.create()">+</button>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>
        Date
      </th>
      <th>
        Time (in minutes)
      </th>
      <th>
        Delete
      </th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="meditation in IndexVm.meditations">
      <td>
        {{meditation.date}}
      </td>
      <td>
        {{meditation.minutes}}
      </td>
      <td>
        <a data-ng-click="IndexVm.destroy(meditation, $index)">x</a>
      </td>
    </tr>
  </tbody>
</table>
